/******* GENERAL *******/
/* Changer la couleur par défaut des liens */
body {
    margin: 0;
}

section {
    padding-top: 60px; 
}

/* Style de la navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #601c37;
    color: #cd95ac;
    position: fixed;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0; 
    z-index: 1000;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}

.hamburger {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.navbar-links {
    display: flex;
    gap: 10px;
    list-style-type: none;
}


.navbar-links li {
    list-style-type: none;
}

.navbar p {
    font-family: cursive;
    font-size: large;
}   

.navbar-links a {
    text-decoration: none;
    color: #cd95ac;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;

    margin-right:  50px;
}

.navbar-links a:hover {
    font-style: italic;
    text-decoration: underline;
    border-radius: 5px;
}


.navbar-hidden {
    transform: translateY(-100%);  
    opacity: 0;
    pointer-events: none; 
}


.bgimage {
    background-image: url('path_to_image.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
}
.navbarDark {
    font-family: cursive;
    font-size: large;
    font-weight: bold;
    background-color: #4d1322;
    color: #cd95ac;
    height: 20px;
    width: 100%;
}




.bgimage {
    background-image: url('images/home.webp');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100%;
    background-color: #f5f5f5; 
}




header {
    width: 100%;
    margin: 0;
    padding: 0;
}


.hero_title {
    font-size: 50px; 
    font-weight: bold;
    color: #c55683;
    margin: 0;
    margin-top: 200px; 
    line-height: 1.2;
    text-align: center; 
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.5s ease; 
    font-family: 'fantasy';
}

.hero_text {
    font-size: 50px; 
    font-weight: bold;
    color: #c55683; 
    margin: 0;
    margin-top: 20px; 
    line-height: 1.2;
    text-align: center; 
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.5s ease; 
    font-family: 'fantasy';
}

body.loaded .hero_title,
body.loaded .hero_text {
    visibility: visible;
    opacity: 1;
}


#about, #skills, #portfolio, #contact {
    margin-top: 20px;
    color: #601c37;
}

#about h3, #skills h3, #contact h3, #Projets h3 {
    margin-bottom: 60px;
    color: #be2361;
    font-family: cursive;
    text-align: center;
    font-style: italic;
    font-size: 50px;
    margin-top: 10%;
    margin-bottom: 60px;
}

h3 {
    font-size: 30px;
    font-family: cursive;
    color: #77173d;
    margin-bottom: 20px;
}
h4{
    font-size: 30px;
}

/* about */
#about {
    text-align: center;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageAboutPage {
    height: auto;
    width: 100% ;
    border-radius: 50%;
    box-shadow: 0 0 100px #601c37;
}

.about-details {
    flex: 2;
    text-align: left;
}

.about-section h4,
.about-text p,
.about-text ul {
    margin: 10px 0;
    
}



.highlight {
    font-weight: bold;
    color: #601c37;
}



/* Skills */
#skills {
    margin-left: 50px;
    margin-right: 50px;
}

.compétences {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.competence-item {
    text-align: center;
    width: 30%;
}

.competence-item img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.outils h4 {
    color: #77173d;
    font-size: 50px;
    margin-top: 10%;
    margin-bottom: 60px;
}

.outils {
    text-align: center;
    margin-top: 20px;
}

.outils img {
    margin: 10px;
    width: 300px;
    height: 150px;
}

.outils .images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.ecrire {
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.ecrire h4 {
   color: #77173d;
    font-size: 50px;
    margin-top: 10%;
    margin-bottom: 60px;
}

.ecrire img {
    width: 100%;
    height: auto;
    margin-bottom: 20px; 
}

.ecrire ul {
    list-style: none;
    padding-left: 10%;
    margin-top: 20px; 
}

.ecrire ul li {
    font-family: system-ui, sans-serif;
    text-align: left;
}


/* Projects */

.projets-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px;
    justify-items: center;
    margin: 50px;
}


.projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: 300px;
    height: 430px;
    border: 1px solid rgba(190, 35, 97, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 8px #be2361;
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projet:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(190, 35, 97, 0.3);
}

.projet img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.card-title {
    margin-top: 0;
    font-size: 20px;
    color: #9a1d4f;
}

.card-text {
    margin-bottom: 50px;
    font-size: 15px;
    color: #9a1d4f;
}

.projet .btn {
    align-items: center;
    position: absolute;
    height: 30px;
    width: 200px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #be2361;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 30px;
    text-align: center;
}

.btn:hover {
    background-color: #9a1d4f;
}
/* Contact Section */

#contact {
    font-family: system-ui, sans-serif;
    text-align: center;
    padding: 20px;
}

h3 {
    color: #be2361;
    margin-bottom: 20px;
}


.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; 
}


.contact-item {
    flex: 1;
    max-width: 45%;
    min-width: 250px;
    text-align: center;
    padding: 20px;
}

.contact-item i {
    color: #be2361;
    margin-bottom: 5px;
    font-size: 80px;
}

.contact-item h4 {
    color: #be2361;
    margin-bottom: 15px;
}

.contact-item p {
    font-size: 20px;
}

#contact a {
    color: #be2361;
    text-decoration: underline;
}


/* Footer */
footer {
    width: 100%;
    height: 100px;
    background-color: #301520;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    color: #cd95ac;
    font-size: 30px;
    font-family: cursive;
}

/* mobile */
@media (min-width: 980px) {
    .navbar-links {
        display: flex;
    }
}


@media (max-width: 990px) {

    #about h3, #skills h3, #contact h3, #Projets h3{
    
        font-size: 30px;
        
    }
    

    h4{
        font-size: 20px;
    }

    .outils  h4, .ecrire h4{
        font-size: 20px;
    }
    
    .navbar-links {
        display: none; 
        position: absolute;
        top: 60px; 
        right: 0;
        background-color: #601c37;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .navbar-links.active {
        display: flex;
    }
    .hamburger {
        display: block;
        color: #cd95ac;
        margin-right: 50px;
    }

    .navbar-links li {
        padding: 10px 0;
        text-align: center;
    }

    .navbar-links a {
        padding: 10px;
        font-size: 18px;
    }



    .navbar-hidden {
        display: flex;
    }

    .navbar {
        align-items: flex-start;
    }
   
    .hero_title {
    font-size: 30px;
       
    }
    .navbar p {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .hero_text{
        font-size: 30px;
    }
    .about-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 50px;
    
    }


    .outils img {
        margin: 10px;
        width: 100%;
        height: auto;
    }

    
    h4.card-title{
        margin: 0;
    }

    a.btn{
        bottom: auto;
        
    }
   
    .projets-container {
        grid-template-columns: 3fr;
    }
    #contact {
        padding: 10px;
    }

    .contact-container {
        flex-direction: column; 
        align-items: center;
    }

    .contact-item {
        width: 90%;
        max-width: none; 
        margin-bottom: 20px; 
    }

    .contact-item i {
        font-size: 50px;
    }

    .contact-item h4 {
        font-size: 18px;
    }

    .contact-item p {
        font-size: 14px;
    }
    footer h3 {
       margin: 20px;
    }
}

@media (max-width: 768px) {
    .projets-container {
        grid-template-columns: 1fr; /* 1 carte par rang pour les petits écrans */
    }

    .projet {
        width: 100%;
        max-width: 400px; /* Largeur maximale pour les écrans plus petits */
        height: auto; /* Ajuster la hauteur pour s'adapter au contenu */
    }

    .projet .btn {
        position: relative;
        bottom: auto;
        margin-top: 20px;
    }
}