/******* GENERAL *******/
/* Changer la couleur par défaut des liens */
.nav-link {
    font-family: cursive;
    color: #f0b7cf !important; /* Forcer la couleur */
    transition: color 0.3s ease;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Navbar styles */
.navbar {
    transition: all 0.3s ease;
}

.navbar-toggler {
    border: none;
}

.navbar-brand {
    font-family: cursive;
    font-style: italic;
    color: #f0b7cf !important;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 0px; /* Ajustez la valeur en fonction de la hauteur de votre menu */
}

.navbarScroll {
    background-color: #290c18;
    box-shadow: 0 4px 2px -2px ;
}

.navbarScroll.navbarDark {
    background-color: #301520;
}

/* hero background image */
.bgimage {
    width: 100%; 
    height: 500px;
    background: url("images/goldengate.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero-text {
    font-family: fantasy;
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bc658a;
}

#about, #skills, #portfolio, #contact {
    margin-top: 20px;
    color: #601c37;
}

#about h2, #skills h2, #contact h2 {
    margin-bottom: 20px;
    color: #be2361;
    font-family: cursive;
    text-align: center;
    font-style: italic;
    font-size: 50px;
}

#contact {
    padding-bottom: 20px;
}

h3 {
    font-size: 30px;
    font-family: cursive;
    color: #77173d;
}

#about p {
    font-family: system-ui, sans-serif;
}

.imageAboutPage {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 100px #601c37;
}

.highlight {
    font-weight: bold;
    color: #601c37;
}

/* skills */
#skills {
    margin-left: 50px;
    margin-right: 50px;
}

.compétences {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.competence-item {
    text-align: center;
    width: 30%;
}

.competence-item img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
}

.js img {
    width: 20%;
    height: 120px;
}

/* Section "Je sais utiliser..." */
.outils {
    text-align: center;
    margin-top: 20px;
}

.outils img {
    width: 200px;
    height: auto;
    margin: 10px;
}

.outils .images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Section "Je sais..." */
.ecrire {
    text-align: center;
    margin-top: 40px;
}

.ecrire img {
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
}

.ecrire ul {
    list-style: none;
    padding-left: 40%;
}

.ecrire ul li {
    font-family: system-ui, sans-serif;
    text-align: left;
}

#Projets h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 50px;
}

.projets-title {
    margin-bottom: 3rem;
    color: #be2361;
    font-family: cursive;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

#Projets h3 {
    font-size: 25px;
}

.projets-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 15px;
}

.projet.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 450px;
    border: 1px solid rgba(190, 35, 97, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 8px #be2361;
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projet.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(190, 35, 97, 0.3);
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card-title {
    font-size: 1.25rem;
    color: #c25a83;
    margin-bottom: 15px;
    font-family: cursive;
    font-size: 30px;
}

.card-text {
    font-size: 1rem;
    color: #6d213f;
    margin-bottom: 20px;
    font-family: system-ui, sans-serif;
}

.btn.btn-primary {
    color: #fff;
    background-color: #be2361;
    border-color: #c25a83;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.btn.btn-primary:hover {
    background-color: #be2361;
    border-color: #c25a83;
    transform: scale(1.05);
}

.btn.btn-primary:active,
.btn.btn-primary:focus {
    background-color: #be2361;
    border-color: #c25a83;
    transform: scale(1);
}

a {
    border: #be2361;
    color: #d04a80;
}

/* contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, sans-serif;
}

.contactColumn i {
    color: #be2361;
}

/* footer */
footer {
    width: 100%;
    height: 100px;
    background-color: #301520;
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h2 {
    color: #cd95ac;
    font-size: 24px;
    font-family: cursive;
    font-size: 30px;
}

/* Media Queries */
@media (max-width: 768px) {
    .hero_title {
        font-size: 30px;
    }

    .projet.card {
        width: 100%;
        max-width: 350px;
    }

    #about {
        margin-left: 50px;
        margin-right: 50px;
    }

    .js img {
        width: 50%;
        height: 120px;
    }

    .ecrire ul {
        list-style: none;
        padding-left: 10%;
    }
}
